%table
  %tr
    %th Name

  - @feeds.each do |feed|
    %tr
      %td= feed.title
      %td= link_to 'Show', feed
      / %td= link_to 'Subscribe' / 'Unsubscribe'
 

%br

= link_to 'New Feed', new_feed_path
