%p#notice= notice
%p
  %h1= @feed.title   

  - @feed.latest_articles.each do |article|
    %h2= link_to article.title,  article, :target => "_blank"
    %br
    /   = raw article.content
    / %br

= link_to 'Back', feeds_path
