%h1 Listing articles
%table
  - current_user.articles.each do |article|
    %tr
      %td= article.title
      %td= button_to 'Show', article, class: "btn btn-info", method: :get
      - unless @bookmarks.find { |bm| bm.article_id == article.id } 
        %td= link_to 'Bookmark Article', new_bookmark_path(article_id: article.id), class: "btn btn-info"


