%h1 Newest Articles

- @articles.sort_by{|t| - t.created_at.to_i}.first(20).each do |article|
    %b= article.feed.title.upcase
    %p= article.title
    %p= button_to 'Show', article, class: "btn btn-info", method: :get
    
    %p= link_to 'Bookmark Article', new_bookmark_path(article_id: article.id), class: "btn btn-info"
%br


