.iframe-wrapper
  .article-wrapper
    .article-title= link_to @article.feed.title, @article.feed
    %p= link_to @article.title, @article.url, :target => "_blank" 
    %iframe{src: "#{@article.url}"} 

  / %p
  /   - unless @bookmarks.article_id == article.id
  /     %b= link_to 'Bookmark Article', new_bookmark_path(article_id: article.id)
