body {
  width: 960px;
}

nav .container {
  list-style: none;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 32px;
  font-weight: bold;
  text-align: right;
}

nav {
  float: left;
  width: 240px;
  height: 100vh;
}

nav ul li {
  padding: 10px 0;
}

#sessions {
  position: fixed;
  bottom: 10px;
}

.small {
  font-size: 14px;
}

.articles_index {
  // font-size: 30px;
}

#profile_header {
  background-color: red;
}

#profile_header .profile_desc {
  position: relative;
  margin-left: -130px;
}

.row.profile_pic {
  border-radius: 50%;
}