.headline categories
.yield-wrapper
  .article-wrapper
    - @categories.each do |category|
      .category= category.name.upcase
      / .article-title= category.feed.description
      .bt= link_to 'Show feeds', category
       
