%p
- @category.feeds.each do |feed|
  %p= link_to feed.title, feed
  %td= link_to 'Subscribe to feed', subscribe_feed_path, class: "btn btn-info"
%br
= link_to 'Back', categories_path

(feed_id: feed.id)


